.nav{
    margin-left: 300px;
    width: calc(100% - 300px);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
    background-color: rgb(235, 99, 21);
    
   
   
}



.nav-menu{
    display: flex;
    width: 30%;
    list-style: none;
    font-size: 20px;
    justify-content: space-between;
    
    cursor: pointer;

}



.search-bar{
    width: 18%;
    background-color: rgb(244, 248, 248);
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 15px;

}

.search-bar input{
    border: none;
    background-color: transparent;
    padding: 5px;
}