.nav{
    margin-left: 250px;
    width: calc(100% - 250px);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    /* background-color: rgb(164, 207, 245); */
    background-color: rgb(235, 99, 21);
    
   
   
}






.search-bar{
    width: 38%;
    background-color: rgb(244, 248, 248);
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 15px;

}

.search-bar input{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px;
    outline: 0;
    border: 0;
}