


.nav{
    margin-left: 250px;
    width: calc(100% - 250px);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: rgb(164, 207, 245); */
    background-color: rgb(164, 207, 245);
   
     
}

.nav h2{
    color: rgb(10, 11, 11);
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}
.nav h2:hover{
    color: rgb(31, 28, 28);
    cursor: pointer;
}



.search-bar{
    width: 38%;
    background-color: rgb(244, 248, 248);
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 15px;

}

.search-bar input{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px;
    outline: 0;
    border: 0;
}

@media screen and (max-width: 474px) {
    .nav {
    margin-left: 90px;
    width: calc(100% - 90px);
      display: flex;
      flex-direction: column;
    
    }

    .search-bar{
        width: 100%;
        padding: 0px 20px;
    }

    .nav h2{
        color: rgb(10, 11, 11);
        font-size: 15px;
        font-weight: 300;
       
    }

  }